/* ==========================================================================
   General Page Styles 
   ========================================================================== */
body {
  font-size: 12px;
  font-family: Arial, Tahoma, Geneva, sans-serif;
  line-height: 16px;
}

li {
  margin-bottom:1em;
}

/* Style for Hide/Show text and arrows above Instructions at top of page */
#hideshow_help {
  background-color: #ffffb3;
  color: red;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: .5px;
  margin-top: -10px;
  padding:.25em; 
  text-align: center;
}

/* Style for Instuctions at top of page */
.instruct {
  background-color: #ffffb3;
  font-size: .9em;
  font-style: italic;
  letter-spacing: .5px;
  margin-bottom: 1em;
  padding: .25em 0; 
  text-align: center;
}

/* Centers Page Heading below Selection Boxes */
.pageHeading {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-transform: capitalize;
  width: 98%;
}
.pageHeadingCG {
  margin: auto;
  text-align: left;
  text-transform: capitalize;
  width: 98%;
}

/* Set automargin to maindiv so it sizes correctly on responsive displays */
#maindiv {
  margin: auto;
}

/* ==========================================================================
   General d3 SVG Styles
   ========================================================================== */
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.x.axis path {
  display: none;
}

.axis text, .grid text {
  font-family: sans-serif;
  font-size: 10px;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
svg {
  background-color: #FFFFFF;
}
/* Tooltip: Using HTML and CSS */
#tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: orange;
  z-index: 999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}			
#tooltip.hidden {
  display: none;
}	
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.measures text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.legend text{
  font-weight: bold;
}

/* Styles the tooltip when hover on viz bars or scatterplots */
.d3-tip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 12px;
}

/* Creates a small triangle extender for the tooltip at bottom of its box */
.d3-tip:after {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  display: inline;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Not sure if this is used now */
.imagef {
  fill: transparent;
  shape-rendering: crispEdges;
  stroke: black;
}

/* ==========================================================================
   Selection Lists - Drop Down Boxes at Top of Page
   ========================================================================== */
label {
  font-weight: bold;
}
.selections {
  text-align: center;
}
.sBoxes {
  margin: 0 1em 0 .25em;
}

/* ==========================================================================
   Tables
   ========================================================================== */
/* Table Sorter - Changes color */
.tablesorter thead tr .headerSortUp {
  background-color: #96967e;
}

.tablesorter thead tr .headerSortDown {
  background-color: #96967e;
}

.tablesorter thead tr th:hover {
  background-color: #96967e;
}

.tablesorter div.tablesorter-header-inner {
  color:#fff;
}
.tablesorter thead th {
  color:#fff;
}

/*  Style table to match doh site and stripe rows even with sorting */

/* Workaround for bug in firefox does not support border-collapse */
/* Original css with border-collapse in 'table, th, td' selector */
/* Workaround css in separate 'table' and 'th, td' selectors */

table, th, td {
  border: solid 1px black;
  border-collapse: collapse;  
  vertical-align: bottom;
}
/*
table { 
  background-color: #000 !important;
  border-spacing: 0 !important; 
}
th, td {
  border: solid 1px black !important;
  vertical-align: bottom !important;
}
*/
/* resize narrow width tables for responsive displays */
table.narrow {
  width: 50%;
}
table.fullwidth {
  width: 98%;
}
@media (max-width:900px) {
  table.narrow {
      width:75%;
  }
}
@media only screen and (max-width: 480px) {
  table.narrow {
      width:95%;
  }
}

.left-align {
  text-align: left;
}

thead tr {
  background-color: #523178;
  vertical-align: bottom;
}

thead tr:hover {
  background-color:#523178; 
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
}
/*
#consumerGuideTable tbody tr:nth-child(even) {
  background-color: #ffffff;
}
#consumerGuideTable tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
}
*/
tbody tr:hover, #consumerGuideTable  tbody tr:hover{ /* mouseover */
  background-color: #F3DD6D;
}
/*
tbody tr td {
      background-color: #ffffff;
}
*/
thead.internal  tr {
  background-color: #ffffff;
  vertical-align: bottom;
}
tbody tr:nth-child(even) td {
  background-color: #ffffff;
}

tbody tr:nth-child(odd) td {
  background-color: #ffffff; 
}

tbody.striped tr:nth-child(odd) td {
  background-color: #e8e8e8;
}
a.plaintext {
  color: #ffffff;
}
tbody tr:hover td{ /* mouseover */
  background-color: #F3DD6D;
}  
 
/* Print table heads across all pages */
@media print {
  thead {
     display: table-header-group;
  }
}
 
/* Statewide Average Row at bottom in color to match doh site 
tbody:nth-child(3)>tr>td { 
  background-color: #6f5091;
  color: #ffffff;
}
*/

/* National Average Row at bottom in color to match doh site */
tbody.average>tr>td { 
  background-color: #6f5091;
  color: #ffffff;
}

/* Color styles for footnotes key table at bottom of page */
 table#notekey  {
  border: none;
  border-collapse: collapse;
  background-color: #ffffff;
}

 table#notekey  th {
  border: none;
  border-collapse: collapse;
  background-color: #ffffff;
}

 table#notekey  td {
  border: none;
  border-collapse: collapse;
  background-color: #ffffff;
  vertical-align: top;
}
  table#notekey tr.notekeyhead  th {
  border: none;
  border-collapse: collapse;
  background-color:  #523178;
  color:#ffffff;
}

 table#links,   table#links td {
  border: none;
  border-collapse: collapse;
  background-color: #ffffff;
  vertical-align: top;
  padding-right: 1em;
  text-align:center;
}

/* ==========================================================================
   Set styles for IE Hack on svg @RESPONSIVE
   ========================================================================== */
canvas {
  display: block;
  visibility: hidden;
  width: 100%;   
}

#svg_bar , #svg_plot, #svg2, #svg_bar_nyc, #svg_plot_nyc, #svg1 , #svg3, #svg2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ==========================================================================
   Hide sections on the print page 
   ========================================================================== */
.printonly  {
  display:none;
}

/* ==========================================================================
   Font formats for County Facility Pages
   ========================================================================== */
.address  {
  font-style:italic; 
}

.address  h3 {
  font-style:normal; 
}

span.label {
  font-weight: bold;
}

h4.condense {
  margin: -12px 0 0 0;
}

p.region {
  font-style: initial;
}

/* ==========================================================================
   3-column display for facility listings
   ========================================================================== */
div#table1, div#table2, div#table3 {
  width:33%; 
  float:left; 
  display: inline;
}

/* ==========================================================================
   Display of thumbnail images and text for links from tables to charts
   ========================================================================== */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#maplink {
 text-align:center; 
 width: 80px; 
 margin-left:20px;
}

#maplink img {
  display: block; 
  margin: 0 auto;
  vertical-align: top;
}


